@font-face {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 0% 200%;
  src: url('./assets/fonts/GeneralSans-Variable.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'General Sans', sans-serif;
  border: none;
}

body {
  background-color: #ebeaef;
}
